@import '../../common/colors.scss';
@import '../../common/variables.scss';

.react-page #foreman-main-container {
  height: 100%; // looks better with the pf page, but blocks rails content 
}
#foreman-main-container {
  height: fit-content;
}

.collapsed-nav {
  #react-app-root {
    main.pf-c-page__main {
      padding-left: 0;
    }
  }
  #rails-app-content {
    margin-left: 0;
  }
}

#page-sidebar {
  .pf-c-nav__item.hidden-nav-lg {
    display: none;

    @media (max-width: $header-max-width) {
      display: block;
    }
  }
}

.pf-c-nav {
  .nav-title-icon {
    padding-right: 10px;
  }
  .nav-title {
    pointer-events: none;
  }
}
