@import '../../common/colors.scss';
@import '../../common/variables.scss';

#foreman-main-container {
  height: fit-content;
}

.collapsed-nav {
  #react-app-root {
    main.pf-c-page__main {
      padding-left: 0;
    }
  }
  #rails-app-content {
    margin-left: 0;
  }
}

#vertical-spinner {
  margin-top: 15px;
  margin-left: 5px;
}

#page-sidebar {
  .pf-c-nav__item.hidden-nav-lg {
    display: none;

    @media (max-width: $header-max-width) {
      display: block;
    }
  }
}

.pf-m-flyout {
  padding-bottom: 10px;
}
.pf-c-nav {
  .nav-title-icon {
    padding-right: 10px;
  }
  .nav-title {
    pointer-events: none;
  }
}

.foreman-nav-menu{
  height: unset;
  max-height: unset;
}
